button {
    background-color: #9933cc;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #500277;
}